.application {
    height: 100vh;
}

.flex-fill {
    flex:1 1 auto;
}

.chat {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.chat .chat-header {
    flex: 0 1 auto;
    padding: 1em 1em;
    border-bottom: 2px solid #f4f7f6;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-header .settings {
    float: right;
    font-size: 0.7em;
}

.chat .chat-history {
    overflow-y: scroll;
    flex: 0 1 auto;
    height: 100%;
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .chat-history .history-bottom {
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 2em;
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0
}

.chat .chat-history .packet .header .freq {
    color: #434651;
}

.chat .chat-history li .header .speed .slow {
    color: #770000;
}

.chat .chat-history li .header .speed .normal {
    color: #999900;
}

.chat .chat-history li .header .speed .fast {
    color: #007700;
}

.chat .chat-history li .header .speed .turbo {
    color: #000077;
}

.chat .chat-history .packet {
    float: left;
    font-size: 0.7em;
    margin-left: 0.5em;
    padding: 0.5em;
    background-color: #fafafa;
}

.chat .chat-history .packet .header {
    color: #434651;
    float: left;
    margin-bottom: 0;
}

.chat .chat-history .packet .header .time {}

.chat .chat-history .packet .header .gauges .gauge {
    margin-left: 0.5em;
}

.chat .chat-history .packet .header .gauges .gauge .btn {
    font-size: 1em!important;
    color: #434651;
}

.chat .chat-history .message .header .gauges .gauge .btn {
    font-size: 1em!important;
    color: #434651;
}

.chat .chat-history .message {
    clear: both;
}

.chat .chat-history .message .header {
    color: #434651;
    margin-bottom: 0.6em;
    float: left;
}

.chat .chat-history .message .header .time {
    font-size: 0.7em;
}

.chat .chat-history .message .header .gauges .gauge {
    font-size: 0.7em;
    margin-left: 0.5em;
}

.chat .chat-history .message .header .from {
    float: left;
    clear: left;
    color: #434651;
    font-weight: bold;
}

.chat .chat-history .message .header .grid {
    color: #434651;
    line-height: 2.1em;
    padding-left: 1em;
    font-size: 0.7em;
}

.chat .chat-history .message .header .grid .bi {
    margin-right: 0.5em;
}

.chat .chat-history .message .content {
    float: left;
    clear: left;
    color: #444;
    padding: 0.4em 0.4em;
    font-size: 1em;
    border-radius: 0.5em;
    position: relative;
}

.chat .chat-history .message .content:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 1em;
    margin-left: -1em;
}

.chat .chat-history .message.my-message .content {
    background: #efefef
}

.chat .chat-history .message.my-message .content:after {
    bottom: 100%;
    left: 1.4em;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    flex: 0 1 auto;
    padding: 1em;
}